
.recipeItem {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.recipeItem:not(:last-child) {
    border-bottom: 1px solid black;   
}


.recipeItem:nth-child(odd) { background: #f9f9f9; }

.recipeItem img {
    float: right; 
    margin: 0; 
    padding: 0;
    width: 100px
}

body{
    font-family: 'Encode Sans', sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background-image: url("saved.jpg");
}

/* CSS for lists found in https://www.w3schools.com/howto/howto_js_todolist.asp with a few changes
/* Style the list items */
#recipeList{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    height:85vh; 
    width:100%;
    overflow:hidden; 
    overflow-y:scroll;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}