.carousel .item {
    width: 102vw; 
    max-height: 93vh; 
}
.carousel .item img {
    width: 102vw;
}

@media (max-width: 102vw) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
/* CSS for lists found in https://www.w3schools.com/howto/howto_js_todolist.asp with a few changes
/* Style the list items */
#ingredientList{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    height:200px; 
    width:100%;
    overflow:hidden; 
    overflow-y:scroll;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ingredientList li:nth-child(odd) { background: #f9f9f9; }


body{
    font-family: 'Encode Sans', sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
}
