<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RecipeSearch &mdash; The casual cook's companion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="GetTemplates.co" />
		<!-- jQuery -->
		<script src="static/js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="static/js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="static/js/jquery.waypoints.min.js"></script>
		<!-- Carousel -->
		<script src="static/js/owl.carousel.min.js"></script>
		<!-- countTo -->
		<script src="static/js/jquery.countTo.js"></script>

		<!-- Stellar Parallax -->
		<script src="static/js/jquery.stellar.min.js"></script>

		<!-- required stylesheet for TextboxList -->
		<link rel="stylesheet" href="static/css/TextboxList.css" type="text/css" media="screen" charset="utf-8" />
		<!-- required stylesheet for TextboxList.Autocomplete -->
		<link rel="stylesheet" href="static/css/TextboxList.Autocomplete.css" type="text/css" media="screen" charset="utf-8" />

		<!-- For some reason this file is not found. imported another file-->
		<!-- <script src="js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script> -->

		<!-- required for TextboxList -->
		<script src="static/js/GrowingInput.js" type="text/javascript" charset="utf-8"></script>

		<script src="static/js/TextboxList.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/TextboxList.Autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<!-- required for TextboxList.Autocomplete if method set to 'binary' -->
		<script src="static/js/TextboxList.Autocomplete.Binary.js" type="text/javascript" charset="utf-8"></script>


		<!-- Magnific Popup -->
		<script src="static/js/jquery.magnific-popup.min.js"></script>
		<script src="static/js/magnific-popup-options.js"></script>

		<script src="static/js/moment.min.js"></script>
		<script src="static/js/bootstrap-datetimepicker.min.js"></script>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Main -->
		<script src="static/js/main.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="static/css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="static/css/icomoon.css">
		<!-- Themify Icons-->
		<link rel="stylesheet" href="static/css/themify-icons.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="static/css/bootstrap.css">

		<!-- Magnific Popup -->
		<link rel="stylesheet" href="static/css/magnific-popup.css">
		<link rel="stylesheet" href="static/css/home.css">
		<!-- Bootstrap DateTimePicker -->
		<link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">

		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

		<!-- Theme style  -->
		<link rel="stylesheet" href="static/css/style.css">

		<!-- Modernizr JS -->
		<script src="static/js/modernizr-2.6.2.min.js"></script>

	</head>
	<!-- Register modal -->
	<body style="background-image: url('static/images/loginpanel.jpg')">
			<div class="modal-dialog" role="document" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				<div class="modal-content" style="background-image: url('static/images/img_6.jpg');">
					<div id="register">
						<div class="modal-header">
							<h5 class="modal-title" style="display:inline">Register</h5>
							<button onclick="goBack()" type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<form method="POST">
						<div class="modal-body">
							<input type="text" class="form-control" name="registerUser" placeholder="Username" id="usr" required>
							<input type="password" class="form-control" name="registerPass" placeholder="Password" id="usrpass" required>
							<input type="password" class="form-control" name="registerPassCon" placeholder="Confirm Password" id="usrpasscon" required>
						</div>
						<div class="modal-footer">
							<button id="registerBut" type="submit" name="register" value="register" class="btn btn-primary">Create Account</button>
						</div>
					</form>
				</div>
			</div>
	</body>

	<style>
		input:required {
		  border-width: 2px;
		}

		input:invalid {
		  border-color: #FF6600;
		}
	</style>

	<script>
		function login() {
			console.log("here")
			$('#usr').removeAttr('required')
			$('#usrpass').removeAttr('required')
			$('#usrpasscon').removeAttr('required')
			window.location.href = '/login'
		}

		function goBack() {
			window.location.href = '/'
		}

		$(document).ready( ()=>{
			$("#loginBut").prop('disabled', true)

			document.getElementById("usr").oninput = ()=>{
				var value = document.getElementById("usr").value;
				var element = document.getElementById("usr");

				var response = {{ response }}
				if ( response == 0 ) {
					document.getElementById("usr").setCustomValidity("wrong");
				}

				document.getElementById("usr").setCustomValidity("");
			}
		});
	</script>
</html>
