<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RecipeSearch - Weekly Planner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">

	<!-- Bootstrap DateTimePicker -->
	<link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">



	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body style= "background-image: url('static/Images/back.gif');">

	<div id="page">


	<!-- <div class="page-inner"> -->
	<nav id="loggedNav" class="gtco-nav" role="navigation">
		<div class="gtco-container">

			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">
						<a style="color: white;" href="/logged-in">RecipeSearch<em>.</em></a>
					</div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>

						<li class="has-dropdown">
							<a href="#">
								<span>User Menu</span>
							</a>
							<ul class="dropdown" id="dropmenu">
								<li>
									<a href="/savedingredients">Saved ingredients</a>
								</li>
								<li>
									<a href="/savedrecipes">Saved recipes</a>
								</li>
								<li>
									<a href="/weeklyplanner">Weekly planner</a>
								</li>
							</ul>
						</li>
						<li class="btn-cta">
							<a id="index-register-but" href="/logout">
								<span>Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</nav>


	<div class="gtco-section">

		<!-- First section -->
		<div class="col-lg-8" style="padding-bottom: 10px;">
			<h2 class="cursive-font primary-color">Weekly planner</h2>
			<p style="color: white;">Welcome to the RecipeSearch weekly meal planner. Simply drag a saved recipe into the correct box, and eith er save the meal plan for a later time, or generate a weekly shopping list for all your meals. </p>
			<table style="width: 100%">

				<tr class="titles">
					<th class="empty-left"> </th>
					<th class="empty-left"> Monday </th>
					<th class="empty-left"> Tuesday </th>
					<th class="empty-left"> Wednesday </th>
					<th class="empty-left"> Thursday </th>
					<th class="empty-left"> Friday </th>
					<th class="empty-left"> Saturday </th>
					<th class="empty-left"> Sunday </th>
				</tr>

				<tr class="breakfast">
					<th class="empty"> Breakfast </th>
					<th id="monday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="tuesday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="wednesday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="thursday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="friday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="saturday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="sunday-br" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
				</tr>

				<tr class="lunch">
					<th class="empty"> Lunch </th>
					<th id="monday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="tuesday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="wednesday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="thursday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="friday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="saturday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="sunday-lu" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
				</tr>

				<tr class="dinner">
					<th class="empty"> Dinner </th>
					<th id="monday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="tuesday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="wednesday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="thursday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="friday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="saturday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
					<th id="sunday-di" class="tel" ondrop="drop(event)" ondragover="allowDrop(event)"> </th>
				</tr>

			</table>


			<div style="height: 20px;"> </div>

			<!-- Put text box of saved plans in here -->

			<div style="height: 20px;"> </div>

			<div class="row form-group">
				<div class="col-sm-4" style="height: 20px; width: 50%;">
					<input id="save-plan" type="submit" class="btn btn-primary btn-block" value="Save week plan">
				</div>
				<div class="col-sm-4" style="red; height: 20px; width: 50%;">
					<input id="gen-ing-list" type="submit" class="btn btn-primary btn-block" value="Generate ingredient list">
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-12" id="ingredient-search" class="collapse">
					<nav style="padding-top:12px;">
						<ul style="height:20vh" id="ingredientList">

						</ul>
					</nav>
				</div>
			</div>

			<!--
				- grid
				- Save button
				- List of all Weekly planners created under user profile
				- Generate ingredients from weekly planner -> generates a list of ingredients from all the recipes in the planner.
			-->

		</div>


		<!-- Second section -->

		<div class="col-lg-4">
			<div> <h2 class="cursive-font primary-color">Saved recipes</h2> </div>
			<div id="recipeList" class="main-container w3-container">
				<img id="test" src="static/Images/banana.png" draggable="true" ondragstart="drag(event)" style="display: block; width: 100%; height: 100%;">
				{% for i in recipes %}
				<img id="test" src="'{{i.image}}'" alt="Image" draggable="true" ondragstart="drag(event)" style="display: block; width: 100%; height: 100%;">
				{% endfor %}
			</div>
		</div>

</div>
	</div>


	<!-- Footer -->

	<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-pb-md">

				<div class="col-md-12 text-center copyright">
					<p><small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
				</div>

			</div>



		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="static/js/jquery.countTo.js"></script>

	<!-- Stellar Parallax -->
	<script src="static/js/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>

	<script src="static/js/moment.min.js"></script>
	<script src="static/js/bootstrap-datetimepicker.min.js"></script>


	<!-- Main -->
	<script src="static/js/main.js"></script>

	<script>
	// user are guaranteed to be loggin anyway
	// $(document).ready(function () {
	// 	console.log("we went in here")
	// 	if ("{{loggedin}}" == 0) {
	// 		//console.log( "false" )
	// 		$("#loginNav").show();
	// 		$("#loggedNav").hide();
	// 	} else if ("{{loggedin}}" == 1) {
	// 		//console.log( "true" )
	// 		$("#loginNav").hide();
	// 		$("#loggedNav").show();
	// 	}
	// }
	//

	$("#logout-btn").click(() => {
		localStorage.setItem("user", "notlogged");
		window.location.href = '/'
	});

		function allowDrop(ev) {
		    ev.preventDefault();
		}

		function drag(ev) {
		    ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
		    ev.preventDefault();
		    var data = ev.dataTransfer.getData("text");
		    ev.target.appendChild(document.getElementById(data));
		}
	</script>

	</body>
</html>
